<h2>TEST</h2>
<div>

  <form #localityForm='ngForm' novalidate>
    <mat-form-field>
      <input matInput required type="text" #zipCode="ngModel" class="form-control" name="zipCode"
        [(ngModel)]="localityModel.zipCode">
    </mat-form-field>


    <button mat-raised-button color="primary" (click)="allCityByZipcode(localityModel.zipCode)">Primary</button>
  </form>



  {{localityForm.value | json }}
  {{localityModel.value | json }}


  <div *ngFor="let city of cities">
    <h4> {{city.city}} </h4>
  </div>



</div>




<h2 mat-dialog-title>Add a new address</h2>
<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1">Particular</mat-radio-button>
  <mat-radio-button value="2">Professional</mat-radio-button>
</mat-radio-group>
<mat-dialog-content class="mat-typography">
  <form #addressForm='ngForm' novalidate>
    <div>
      <p>
        <mat-form-field>
          <label>Identity</label>
          <input matInput required type="text" #identity="ngModel" class="form-control" name="identity"
            [(ngModel)]="addressModel.identity">
          <mat-hint>identity is required</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <label>Identification</label>
          <input matInput required type="text" #identification="ngModel" class="form-control" name="identification"
            [(ngModel)]="addressModel.identification">
          <mat-hint>identification is required</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <label>Localisation Complement</label>
          <input matInput required type="text" #localisationComplement="ngModel" class="form-control"
            name="localisationComplement" [(ngModel)]="addressModel.localisationComplement">
          <mat-hint>localisation complement is required</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <label>Label</label>
          <input matInput required type="text" #label="ngModel" class="form-control" name="label"
            [(ngModel)]="addressModel.label">
          <mat-hint>label is required</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <label>Distribution Service</label>
          <input matInput required type="text" #distributionServices="ngModel" class="form-control"
            name="distributionServices" [(ngModel)]="addressModel.distributionServices">
          <mat-hint>Distribution Services is required</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <label>Zip Code</label>
          <input matInput required type="text" #zipCode="ngModel" class="form-control" name="zipCode"
            [(ngModel)]="addressModel.zipCode">
          <mat-hint>zipCode complement is required</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-select required>
            <mat-option value="option">City</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button>Submit</button>
</mat-dialog-actions>