ul li {
  display: inline;
  margin-left: 15px;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  background-color: #2196f3;
  min-height: 64px;
  align-items: center;
  box-shadow: black;
  top: 0;
  left: auto;
  right: 0;
}

a {
  color: antiquewhite;
  background-color: transparent;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  box-sizing: border-box;
}
