<button mat-raised-button color="primary" (click)="getAll()">
  Load addresses
</button>

<button mat-raised-button color="basic" (click)="getList()">
  Get Adresses List
</button>

<!-- <ul *ngFor="let res of result1">
  <li>{{ res | json }}</li>
</ul> -->

<table  style="width:100%">
  <tr >
    <th>id</th>
    <th>zipCode</th> 
    <th>City</th>
  </tr>
  <tr *ngFor="let res of result1">
    <td>{{res.id | json}}</td>
  </tr>
  <tr *ngFor="let res of result1">
    <td>{{res.zipCode | json }}</td>
  </tr>
  <tr *ngFor="let res of result1">
    <td>{{res.city | json }}</td>
  </tr>
</table>

<div *ngIf="loading">
  <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
</div>

<mat-list *ngIf="!loading && result">
  <h2>DATABASE CREATED</h2>
</mat-list>